
  <% if flash[:notice] %>
    <div class="notification is-primary global-notification" id="mb-0">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  
  
  <% if flash[:alert] %>
    <div class="notification is-primary global-notification" id="mb-0">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

